.all_wrapper_cards{
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}
.go_to_pack_list{
    position: absolute;
    top: 90px;
    left: 20px;
    cursor: pointer;
    z-index: 50;
}
