.all_wrapper_add_pack_page {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}
.go_to_pack_list {
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
}
.title_add_new_pack {
    padding-top: 140px;
    padding-left:30px;
    cursor:default;
}
.add_new_card_block {
    margin: 150px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}
