
.wrapper_forgot {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    width: 400px;
    border: .5px solid rgba(84, 84, 84, 0.5);
    margin: 90px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.FormStyle {
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 600;

}

.Text {
    margin: 35px 33px 10px;
    font-size: 16px;
    opacity: 50%;
}

.FormStyle button {
    margin: 40px auto;
    width: 231px;
}
.link{
    margin-bottom: 30px;
}


.link > a {
    color: #366EFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}



.validation {
    position: absolute;
    top: 80px;
    left: 170px;
    font-size: 12px;
    font-weight: 600;
    color: red;
}