.table_title_cell{
    font-size: 15px!important;
    font-weight: 800 !important;
    color: rgba(0, 0, 0, 0.7) !important;
    background-color: rgba(30, 144, 255, 0.15) !important;
}
.flex_icons{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.icons>svg{
    margin:0 5px;
}

.icons>svg:hover{
    transition: all .2s;
}
.icons>svg:active{
    color: rgba(0, 0, 0, 0.2);
    transition: all .2s;
}
