.all_wrapper_profile {
    padding: 90px 0;
    width: 100vw;
    height: 100%;
}

.wrapper_profile {
    position: relative;
    width: 400px;
    border: .5px solid rgba(84, 84, 84, 0.5);
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;

}


.Link_block {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 26px;
    font-weight: 500;
}

.wrapper_profile img {
    margin-top: 20px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.email {
    font-weight: 500;
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 20px;
    opacity: 50%;
}

.avatarButton {
    position: absolute;
    top: 160px;
    right: 120px;

}

