.default {
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 20px;
    border: 2px solid dodgerBlue;
    box-shadow: 0 0 40px 40px dodgerBlue inset, 0 0 0 0 dodgerBlue;
    transition: all 150ms ease-in-out;
    color: #ffffff;
    background-color: #ffffff;

}

.default:hover {
    box-shadow: 0 0 5px 0 dodgerBlue inset, 0 0 5px 1px dodgerBlue;
    color: dodgerBlue;
}

.red {
    color: #ab003c;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 20px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ab003c;
}

.red:hover {
    box-shadow: 0 0 40px 40px #ab003c inset;
    color: #fff;
}

/*
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
*/