.all_wrapper_search_packs {
    width: 250px;
}

.title_search_pack {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.toolbar {
    padding: 0 !important;
}

.search_input > input {
    border: 1px solid rgba(30, 144, 255, 0.5);
    border-radius: 10px;
}

.search_input > input:focus {
    box-shadow: -2px 2px 10px rgba(30, 144, 255, 0.5) !important;
}