.name {
    display: flex;
    justify-content: center;
    margin: 36.5px auto 16.5px;
    font-size: 26px;
    font-weight: 600;
}

.editNickName {
    position: relative;
}

.editNickName button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 52px;
    height: 24px;

}
