.NewPasswordPage{
    height: calc(100vh - 60px);
    background-color: #F9F9FA;
}
.wrapper_newPassword{
    background-color: #ffffff;
    text-align: center;
    width: 400px;
    border: .5px solid rgba(84, 84, 84, 0.5);
    margin: 90px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


.validation{
    position: absolute;
    bottom: -20px;
    left: 30px;
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.Title {
    margin-top: 35px;
    font-size: 26px;
    margin-bottom: 30px;

}
.Text{
    margin: 40px 33px;
    font-size: 16px;
    opacity: 50%;
}
.FormStyle .button{
    margin: 30px auto;
    width: 350px;
}